<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Voltammogrammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PS3000APotentiostat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Voltammogrammer.Properties.Settings>
            <setting name="offset_potential_awg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_current" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="font_title" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="font_label" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="tick_dir_major" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tick_dir_minor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="size_weight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="size_height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="line_style_1" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="line_style_2" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="line_style_3" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="configure_register_values" serializeAs="String">
                <value />
            </setting>
            <setting name="configure_filtering_method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="configure_referencing_for_initial_potential" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_potential_osc1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_potential_osc2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offset_resistor_ref" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="slope_potential_awg" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="slope_current" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="slope_potential_osc1" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="slope_potential_osc2" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="internal_resistance" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Voltammogrammer.Properties.Settings>
        <PS3000APotentiostat.Properties.Settings>
            <setting name="offset_potential" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="offset_current" serializeAs="String">
                <value>-0.0045</value>
            </setting>
            <setting name="font_title" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="font_label" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="tick_dir_major" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tick_dir_minor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="size_weight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="size_height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="line_style_1" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="line_style_2" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="line_style_3" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="configure_register_values" serializeAs="String">
                <value />
            </setting>
        </PS3000APotentiostat.Properties.Settings>
    </userSettings>
</configuration>